@import '../../styles/defintions.scss';

.mainMenu {
    display: flex;
    margin-left: 5%;
}

.title {
    display: block;
}

.grow {
    flex-grow: 1;
}

.rightMenu {
    display: flex,
}

.menuButton {
    display: none;
}

.navDisplayFlex {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: $md) {
    .menuButton {
        margin-right: spacing(1);
        display: flex;
    }

    .navDisplayFlex {
        display: none;
    }
}