.MainMenu {
    display: flex;
    margin-left: 5%;

    .NavDisplayFlex {
        display: flex;
        justify-content: space-between;
    };

    .LinkText {
        text-decoration: none;
        text-transform: uppercase;
        color: white;
    }
}

.Grow {
    flex-grow: 1,
}